
.quicksand-normal{
  font-family: "Quicksand",sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-regular{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* header section styles */

.nav{
    display: flex;
    justify-content: space-around;
    margin: 20px 140px;
    
    
}
.div-1{
    display: flex;
    justify-content: space-between;

    
}

.ul{
    display: flex;
    justify-content: space-around;
    margin: 20px 130px;


    
}

.logo{
    width: 62px;
    height: 62px;
    padding-right: 11px;
    /* margin-left: 140px; */
}
.title-1{
    color: black;
    font-size: 32px;
    font-weight: 700;
    margin-top: 15px;
    
}

.home{
    color: orange;
    font-size: 20px;
    font-weight: 700;
    list-style: none;
    padding-right: 25px;
}
.about{
    font-weight: 500;
    font-size: 20px;
    color: rgba(1, 172, 253, 1);
    list-style: none;
    padding-right: 25px;
}
.facilities{
    color: #05D4DF;
    font-weight: 500;
    font-size: 20px;
    list-style: none;
    padding-right: 25px;

}
.admission{
    color: #5D58EF;
    font-weight: 500;
    font-size: 20px;
    list-style: none;

}
.btn-1{
    background-color: orange;
    color: white; 
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    height: 45px;
    width: 190px;
    
}
.div-2{
    display: flex;
    justify-content: space-around;
    margin: 0 140px;
    
}
.div-3{
    margin-top: 70px;
    
}

.title-2{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}
.des-1{
    color: black;
    font-size: 20px;
}
.orange{
    color: orange;
}
.blue{
    color: #01ACFD;
}
.btn-2{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    border: none;
    width: 190px;
    font-weight: 600;
}

/* main section styles */
.section-1{
    background-image: url(../assets/bg.png);
    margin-top: 60px;
}
.imgs{
    margin-top: 30px;
}

.title-3{
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
}
.title-4{
    font-size: 24.52px;
    color: #202020;
    line-height: 30.7px;
    font-weight: 700;
}
.title-5{
    font-size: 24px;
    color: #202020;
    line-height: 30.7px;
    font-weight: 700;

}
.des-2{
    font-weight: 500;
    line-height: 28px;
    font-size: 15px;
    color: #808080;
}
.btn-3{
    color: #64C8FF;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    border: none;
    background-color: white;
}
.btn-4{
    color: #F0AA00;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    border: none;
    background-color: white;

}
.btn-5{
    color: #8700FF;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    border: none;
    background-color: white;

}

.div-5{
    display: flex;
    text-align: center;
    width: 1160px;
    height: 480px;
    justify-content: space-around;
    margin: auto;
}
.div-6{
    background-image: linear-gradient(180deg, #DEF5FF , white);
    border-radius: 18.86px;
    padding: 25px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    width: 320px;
    
}
.div-7{
    background-image:linear-gradient(180deg, #FFF4DC, white) ;
    border-radius: 18.86px;
    padding: 25px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    width: 320px;

}
.div-8{
    background-image:linear-gradient(180deg, #F2E8FF, white) ;
    border-radius: 18.86px;
    padding: 25px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    width: 320px;

} 
.div-9{
    text-align: center;
    margin-top: 80px;

    
    
}
.img-1{
    width: 70px;
    height: 70px;
    background-color: orange;
    border-radius: 50px;
    margin: 8px;
    color: white;
    /* filter: invert(1); */
    
    
    
}

/* section-2 styles */
